<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Dragon Pong</title>

    <link rel="stylesheet" href="/plugins/bootstrap-3.2.0/css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="/plugins/font-awesome-4.4.0/css/font-awesome.css" type="text/css" />
    <link rel="stylesheet" type="text/css" href="<%= asset('css/sb-admin.css') %>" />
    <link rel="stylesheet" type="text/css" href="<%= asset('css/morris.css') %>" />
    <link rel="stylesheet" type="text/css" href="<%= asset('css/dragon-pong.css') %>" />

    <base href="/dragon-pong/">
</head>

<body ng-app="DragonPong" ng-controller="MainCtrl" class="dragon-pong">

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="./">Dragon Pong</a>
        </div>
    </nav>

    <div id="page-wrapper">

        <div class="container-fluid">

            <div ng-view></div>

        </div>
        <!-- /.container-fluid -->

    </div>
    <!-- /#page-wrapper -->

    <script type="text/javascript" src="/plugins/jquery-2.1.1/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="/plugins/angular-1.5.8/angular-1.5.8.min.js"></script>
    <script type="text/javascript" src="/plugins/angular-1.5.8/angular-route-1.5.8.min.js"></script>
    <script type="text/javascript" src="/plugins/bootstrap-3.2.0/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="<%= asset('js/app.js') %>"></script>
    <script type="text/javascript" src="<%= asset('js/matches-service.js') %>"></script>
    <script type="text/javascript" src="<%= asset('js/ranking-service.js') %>"></script>
    <script type="text/javascript" src="<%= asset('js/main-controller.js') %>"></script>
    <script type="text/javascript" src="<%= asset('js/player-controller.js') %>"></script>
</body>

</html>