<div class="row main-text text-center m-top-30">
	<div class="col-md-3 col-sm-4 col-sm-push-8 col-xs-8 col-sm-offset-0 col-xs-offset-2">
		<img class="img-responsive" src="images/academic.png">
		<h3><%- content[0] %></h3>			
	</div>
	<div class="col-md-8 col-sm-7 col-md-pull-3 col-sm-pull-4">

		<div class="row main-text text-left">
			<div class="col-xs-12">
				<p><h4><%- content[1] %></h4></p>
			</div>

			<div class="col-xs-12 secondary-text text-left">
				<p><i><%- content[2] %></i></p>
			</div>

			<div class="col-xs-12 secondary-text text-left">
				<p><i><%- content[3] %></i></p>
			</div>
		</div>

		<div class="row main-text text-left">
			<div class="col-xs-12">
				<p><h4><%- content[4] %></h4></p>
			</div>

			<div class="col-xs-12 secondary-text text-left">
				<p><i><%- content[5] %></i></p>
			</div>

			<div class="col-xs-12 secondary-text text-left">
				<p><i><%- content[6] %></i></p>
			</div>
		</div>

		<div class="row main-text text-left">
			<div class="col-xs-12">
				<p><h4><%- content[7] %></h4></p>
			</div>

			<div class="col-xs-12 secondary-text text-left">
				<p><i><%- content[8] %></i></p>
			</div>

			<div class="col-xs-12 secondary-text text-left">
				<p><i><%- content[9] %></i></p>
			</div>
		</div>

		<div class="row main-text text-left">
			<div class="col-xs-12">
				<p><h4><%- content[10] %></h4></p>
			</div>

			<div class="col-xs-12 secondary-text text-left">
				<p><i><%- content[11] %></i></p>
			</div>

			<div class="col-xs-12 secondary-text text-left">
				<p><i><%- content[12] %></i></p>
			</div>
		</div>
	</div>

</div>

<div class="row main-text">
	<div class="col-xs-12">
		<div class="separator"></div>
	</div>
</div>

<div class="row main-text text-center">
	<div class="col-md-3 col-sm-offset-1 col-sm-4 col-xs-8 col-xs-offset-2">
		<img class="img-responsive" src="images/non-academic.png">
		<h3><%- content[13] %></h3>
	</div>	
	<div class="col-md-8 col-sm-7">
		<div class="row main-text text-right">
			<div class="col-xs-12">
				<p><h4><%- content[14] %></h4></p>
			</div>

			<div class="col-xs-12 secondary-text text-right">
				<p><i><%- content[15] %></i></p>
			</div>

			<div class="col-xs-12 secondary-text text-right">
				<p><i><%- content[16] %></i></p>
			</div>
		</div>

		<div class="row main-text">
			<div class="col-xs-12 text-right">
				<p><h4><%- content[17] %></h4></p>
			</div>

			<div class="col-xs-12 secondary-text text-right">
				<p><i><%- content[18] %></i></p>
			</div>

			<div class="col-xs-12 secondary-text text-right">
				<p><i><%- content[19] %></i></p>
			</div>
		</div>

		<div class="row main-text text-right">
			<div class="col-xs-12">
				<p><h4><%- content[20] %></h4></p>
			</div>

			<div class="col-xs-12 secondary-text text-right">
				<p><i><%- content[21] %></i></p>
			</div>

			<div class="col-xs-12 secondary-text text-right">
				<p><i><%- content[22] %></i></p>
			</div>
		</div>

		<div class="row main-text text-right">
			<div class="col-xs-12">
				<p><h4><%- content[23] %></h4></p>
			</div>

			<div class="col-xs-12 secondary-text text-right">
				<p><i><%- content[24] %></i></p>
			</div>

			<div class="col-xs-12 secondary-text text-right">
				<p><i><%- content[25] %></i></p>
			</div>
		</div>

		<div class="row main-text text-right">
			<div class="col-xs-12">
				<p><h4><%- content[26] %></h4></p>
			</div>

			<div class="col-xs-12 secondary-text text-right">
				<p><i><%- content[27] %></i></p>
			</div>

			<div class="col-xs-12 secondary-text text-right">
				<p><i><%- content[28] %></i></p>
			</div>
		</div>

		<div class="row main-text text-right">
			<div class="col-xs-12">
				<p><h4><%- content[29] %></h4></p>
			</div>

			<div class="col-xs-12 secondary-text text-right">
				<p><i><%- content[30] %></i></p>
			</div>

			<div class="col-xs-12 secondary-text text-right">
				<p><i><%- content[31] %></i></p>
			</div>
		</div>
	</div>
</div>

<div class="row main-text">
	<div class="col-xs-12">
		<div class="separator"></div>
	</div>
</div>

<div class="row main-text text-center">
	<div class="col-md-3 col-sm-4 col-md-push-9 col-sm-push-8 col-sm-offset-0 col-xs-8 col-sm-offset-0 col-xs-offset-2">
		<img class="img-responsive" src="images/work.png">
		<h3><%- content[32] %></h3>			
	</div>	
	<div class="col-md-8 col-sm-7 col-md-pull-3 col-sm-pull-4">

		<div class="row main-text text-left">
			<div class="col-xs-12">
				<p><h4><%- content[33] %></h4></p>
			</div>

			<div class="col-xs-12 secondary-text text-left">
				<p><i><%- content[34] %></i></p>
			</div>

			<div class="col-xs-12 secondary-text text-left">
				<p><i><%- content[35] %></i></p>
			</div>
		</div>

		<div class="row main-text text-left">
			<div class="col-xs-12">
				<p><h4><%- content[36] %></h4></p>
			</div>

			<div class="col-xs-12 secondary-text text-left">
				<p><i><%- content[37] %></i></p>
			</div>

			<div class="col-xs-12 secondary-text text-left">
				<p><i><%- content[38] %></i></p>
			</div>
		</div>

		<div class="row main-text text-left">
			<div class="col-xs-12">
				<p><h4><%- content[39] %></h4></p>
			</div>

			<div class="col-xs-12 secondary-text text-left">
				<p><i><%- content[40] %></i></p>
			</div>

			<div class="col-xs-12 secondary-text text-left">
				<p><i><%- content[41] %></i></p>
			</div>
		</div>
	</div>
</div>

<div class="row m-top-15">
	<div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 m-horizontal-20">
		<div class="col-xs-10 col-xs-offset-1">
			<button class="main-button" onclick="openCV();">
				<img src="images/download.png" width="30" height="30" align="absmiddle" >&nbsp;
				<%- content[42] %>
			</button>
		</div>
	</div>
</div>

<script type="text/javascript">
	function openCV() {
		window.open('pdfs/cv-<%- language %>.pdf');
	}
</script>
