<html xmlns="http://www.w3.org/1999/xhtml" lang="ca" xml:lang="ca">
<head>	
	<title><%= title %></title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

	<link rel="stylesheet" href="/plugins/bootstrap-3.2.0/css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="/plugins/font-awesome-4.4.0/css/font-awesome.css" type="text/css" />
	<link href="<%= asset('css/generics.css') %>" rel="stylesheet" type="text/css" />
	<link href="<%= asset('css/backgrounds.css') %>" rel="stylesheet" type="text/css" />
	<link href="<%= asset('css/style.css') %>" rel="stylesheet" type="text/css" />

	<link href='http://fonts.googleapis.com/css?family=Cabin' rel='stylesheet' type='text/css'>
</head>

<body class="body-bg">	

	<div class="vertical-aligner">
		<div class="vertical-aligned">

			<div id="header" class="navbar white-bg navbar-fixed-top bordered" role="navigation">
				<div class="container">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar black-bg"></span>
						<span class="icon-bar black-bg"></span>
						<span class="icon-bar black-bg"></span>
						</button>
						<a class="navbar-brand regular-text" href="/carles-capellas-first">Carles Capellas</a>
						<a class="icon-anchor pull-right visible-xs mail-icon" onclick="toggleContact();">
						<i class="fa fa-2x fa-envelope"></i>
						</a>
					</div>
					<div class="navbar-collapse collapse">
						<nav>
						<ul class="nav navbar-nav">          
							<li><a class="regular-text" href="/carles-capellas-first?page=cv"><%= headerContent[0] %></a></li>
							<li><a class="regular-text" href="/carles-capellas-first?page=projects"><%= headerContent[1] %></a></li>
							<li><a class="regular-text" href="/carles-capellas-first?page=not-ready"><%= headerContent[2] %></a></li>
						</ul>
						<ul class="nav navbar-nav navbar-right">
							<li class="dropdown">
							<a href="#" class="dropdown-toggle regular-text" data-toggle="dropdown">
									<%= headerContent[3] %>
								<span class="caret"></span>
							</a>
							<ul class="dropdown-menu" role="menu">
								<a class="regular-text language-icon"
									href="/carles-capellas-first?page=<%= rawPage%>&language=ca">
									<img src="images/footer/catalan.png" width="25" height="25"
										class="<%= language == 'ca' ? '' : 'transparent' %>">
										<%= headerContent[4] %>
								</a>
								<a class="regular-text language-icon"
									href="/carles-capellas-first?page=<%= rawPage%>&language=es">
									<img src="images/footer/spanish.png" width="25" height="25"
										class="<%= language == 'es' ? '' : 'transparent' %>">
										<%= headerContent[5] %>
								</a>
								<a class="regular-text language-icon"
									href="/carles-capellas-first?page=<%= rawPage%>&language=en">
									<img src="images/footer/english.png" width="25" height="25"
										class="<%= language == 'en' ? '' : 'transparent' %>">
										<%= headerContent[6] %>
								</a>
							</ul>
							</li>
							<li class="icon-block hidden-xs">
							<a class="icon-anchor" onclick="toggleContact();">
								<i class="fa fa-2x fa-paper-plane"></i>
							</a>
							</li>
							<li class="hidden-xs hidden-sm icon-block">
							<a href="http://www.facebook.com/carles.capellas" target="_blank">
								<img src="images/footer/footer-facebook.png" align="absmiddle" width="30" height="30">
							</a>
							<a href="https://twitter.com/carlescapellas" target="_blank">
								<img src="images/footer/footer-twitter.png" align="absmiddle" width="30" height="30">
							</a>
							<a href="https://es.linkedin.com/pub/carles-capellas-careta/38/80/9b2" target="_blank">
								<img src="images/footer/footer-linkedin.png" align="absmiddle" width="30" height="30">
							</a>
							</li>
						</ul>
						</nav>
					</div>
				</div>
			</div>
				
			 <div class="contact-container" style="display: none; top: -250px;">
				<p>Em pots enviar un mail des d'aquest formulari, però si prefereixes fer servir el teu client web la meva adreça és <b>capellas.carles@gmail.com</b></p>
				<div class="row">
					<div class="col-xs-12">
						<input type="text" class="form-control" placeholder="Correu electrònic" id="correuContacte"  maxlength="50"></input>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<textarea placeholder="Missatge" class="form-control" id="textContacte" rows=4  maxlength="300"></textarea>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-8 pull-left">
						<p id = "errorContacte" style="color:red;font-size:12px;margin-top:8px;"></p>
					</div>
				</div>
			</div>

			<div class="container post-navbar-margin">

				<!-- <div id="footer-pusher">-->

					<%- include(page, {content: content}); %>
	
				<!-- </div> -->

			</div> 

		</div>
	</div>

	<!-- <div id="fixed-footer" class="transparent-bg">
		<div class="container">
			<div class="row p-top-15">
				<div class="col-sm-6 col-xs-12 left-sm">
					<%= footerContent[0] %>
					<a href="/carles-capellas-first?page=<%= rawPage%>&language=ca">
						<img src="images/footer/catalan.png" width="30" height="30"
							class="<%= language == 'ca' ? '' : 'transparent' %>">
					</a>
					|
					<a href="/carles-capellas-first?page=<%= rawPage%>&language=es">
						<img src="images/footer/spanish.png" width="30" height="30"
							class="<%= language == 'es' ? '' : 'transparent' %>">
					</a>
					|
					<a href="/carles-capellas-first?page=<%= rawPage%>&language=en">
						<img src="images/footer/english.png" width="30" height="30"
							class="<%= language == 'en' ? '' : 'transparent' %>">
					</a>
				</div>
				<div class="col-sm-6 col-xs-12 right-sm m-bottom-15">  
					capellas.carles@gmail.com&emsp;
					<a href="http://www.facebook.com/carles.capellas" target="_blank">
						<img src="images/footer/footer-facebook.png" align="absmiddle" width="30" height="30">
					</a>
					<a href="https://twitter.com/carlescapellas" target="_blank">
						<img src="images/footer/footer-twitter.png" align="absmiddle" width="30" height="30">
					</a>
					<a href="https://es.linkedin.com/pub/carles-capellas-careta/38/80/9b2" target="_blank">
						<img src="images/footer/footer-linkedin.png" align="absmiddle" width="30" height="30">
					</a> 
					<!-- <a href="https://plus.google.com/106240492725911247715" target="_blank">
						<img src="images/footer/footer-google.png" align="absmiddle" width="30" height="30">
					</a> -->                  
				</div>
			</div>
		</div>
	</div> -->

	<script type="text/javascript" src="/plugins/jquery-2.1.1/jquery-2.1.1.min.js"></script>
	<script type="text/javascript" src="/plugins/bootstrap-3.2.0/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="<%= asset('js/footer-pusher.js') %>"></script>
	<script type="text/javascript" src="<%= asset('js/init.js') %>"></script>
</body>
</html>
