<html xmlns="http://www.w3.org/1999/xhtml" lang="ca" xml:lang="ca">
<head>

	<title>Carles Capellas</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="shortcut icon" type="image/png" href="images/favicon.png"/>

	<link rel="stylesheet" href="<%= asset('css/alerts.css') %>" type="text/css" />
	<link rel="stylesheet" href="<%= asset('css/bootstrap-custom.css') %>" type="text/css" />
	<link rel="stylesheet" href="<%= asset('css/carles-capellas.css') %>" type="text/css" />
	<link rel="stylesheet" href="<%= asset('css/generics.css') %>" type="text/css" />
	<link rel="stylesheet" href="<%= asset('css/navigation.css') %>" type="text/css" />
	<link rel="stylesheet" href="<%= asset('css/palette-blue.css') %>" type="text/css" />
	<link rel="stylesheet" href="<%= asset('css/projects.css') %>" type="text/css" />

	<link rel="stylesheet" href="<%= asset('css/parallax.css') %>" type="text/css" />

	<!-- FONT AWESOME -->
	<link rel="stylesheet" href="/plugins/font-awesome-4.4.0/css/font-awesome.css" type="text/css" />

	<!-- BOOTSTRAP -->
	<link rel="stylesheet" href="/plugins/bootstrap-3.2.0/css/bootstrap.min.css" type="text/css" />

	<!-- FONT -->
	<link href="https://fonts.googleapis.com/css?family=Raleway:400,500" rel="stylesheet" type="text/css">

</head>

<body ng-app="Content" ng-controller="ContentCtrl" class="carles-capellas">

	<div id="header" class="navigation-bar palette-bg-4" ng-controller="NavbarCtrl">
		<div class="navigation-small">
			<div id="button">
				<i class="fa fa-bars fa-2x"></i>
			</div>
			<div class="tab-wrapper">
				<div id="current-tab">
				</div>
			</div>
		</div>

		<div class="navigation navigation-left palette-bg-4">
			<a href="##home">
				<i class="fa fa-creative-commons"></i>&nbsp;&nbsp;{{navbar.Home}}
			</a>
			<a href="##curriculum">
				<i class="fa fa-folder-open-o"></i>&nbsp;&nbsp;{{navbar.Curriculum}}
			</a>
			<a href="##projects">
				<i class="fa fa-wrench"></i>&nbsp;&nbsp;{{navbar.Projects}}
			</a>
		</div>

		<div class="navigation navigation-right palette-bg-4">
			<div class="dropdown">
				<div class="dropdown-button">
					<a>
						<i class="fa fa-globe"></i>&nbsp;&nbsp;{{navbar.Language}}
						<span class="dropdown-arrow"></span>
					</a>
				</div>
				<div class="dropdown-list palette-bg-4">
					<a class="dropdown-item" ng-click="translate('ca')">
						<img ng-class="currentLanguage != 'ca' ? 'transparent' : ''" src="images/navbar/catalan-squared.png" height="15" />
						{{navbar.Catalan}}
					</a>
					<a class="dropdown-item" ng-click="translate('es')">
						<img ng-class="currentLanguage != 'es' ? 'transparent' : ''" src="images/navbar/spanish-squared.png" height="15" />
						{{navbar.Spanish}}
					</a>
					<a class="dropdown-item" ng-click="translate('en')">
						<img ng-class="currentLanguage != 'en' ? 'transparent' : ''" src="images/navbar/english-squared.png" height="15" />
						{{navbar.English}}
					</a>
				</div>
			</div>
			<div class="icon-block">
				<a class="navigation-icon" href="https://es.linkedin.com/pub/carles-capellas-careta/38/80/9b2" target="_blank">
					<div class="icon linked-in"></div>
				</a>
			</div>
		</div>
	</div>
	
	<div ng-include src="'/carles-capellas-second/templates/alerts.html'"></div>

	<div ng-include src="'/carles-capellas-second/templates/contact.html'"></div>

	<section id="home" data-type="parallax-background" class="responsive-background">
		<div ng-include src="'/carles-capellas-second/templates/home.html'"></div>
	</section>

	<section id="curriculum" data-type="parallax-background" class="palette-bg-3" ng-controller="CurriculumCtrl">
		<div ng-include src="'/carles-capellas-second/templates/curriculum.html'"></div>
	</section>

	<section id="projects" data-type="parallax-background" class="responsive-background" ng-controller="ProjectsCtrl">
		<div ng-include src="'/carles-capellas-second/templates/projects.html'"></div>
	</section>

	<script type="text/javascript" src="/plugins/jquery-2.1.1/jquery-2.1.1.min.js"></script>
	
	<script type="text/javascript" src="/plugins/angular-1.4.7/angular.min.js"></script>

	<script type="text/javascript" src="/plugins/bootstrap-3.2.0/js/bootstrap.min.js"></script>

	<script type="text/javascript" src="<%= asset('js/google-analytics.js') %>"></script>

	<script type="text/javascript" src="<%= asset('js/parallax.js') %>"></script>

	<script type="text/javascript" src="<%= asset('js/content.js') %>"></script>
	<script type="text/javascript" src="<%= asset('js/alerts-content.js') %>"></script>
	<script type="text/javascript" src="<%= asset('js/curriculum-content.js') %>"></script>
	<script type="text/javascript" src="<%= asset('js/navbar-content.js') %>"></script>
	<script type="text/javascript" src="<%= asset('js/projects-content.js') %>"></script>
	<script type="text/javascript" src="<%= asset('js/contact-content.js') %>"></script>

	<script type="text/javascript" src="<%= asset('js/parallax.js') %>"></script>

	<script type="text/javascript" src="<%= asset('js/navigation.js') %>"></script>
	<script type="text/javascript" src="<%= asset('js/carles-capellas.js') %>"></script>
	<script type="text/javascript" src="<%= asset('js/generics.js') %>"></script>
</body>
</html>
