<!doctype html>
<html lang="en">

    <head>
        <title>Jokify. Random jokes</title>
        <meta charset="utf-8">
        <meta name="description" content="Cheer your day up with random jokes">
        <meta name="author" content="Carles Capellas">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="<%= asset('css/main.css') %>" />
    </head>

    <body>
        <div id="viewport" class="fixed-viewport">

        <div id="joke" class="joke animate">
            <%- joke %>
        </div>

        <button type="button" class="jokifier" id="jokify">
            <span>Jokify</span>
        </button>

        <% var emojis = ['laugh', 'poo', 'wink-tongue', 'boom', 'bomb', 'tada', 'halloween', 'dice'];
        for (var i = 1; i <= 50; ++i) { %>
            <span class="symbol trajectory-<%= i %> <%- emojis[i % emojis.length] %> parabola"></span>
        <% } %>

        </div>

        <script src="/plugins/jquery-2.1.1/jquery-2.1.1.min.js"></script>
        <script type="text/javascript" src="<%= asset('js/jokify.js') %>"></script>

    </body>
</html>