<html xmlns="http://www.w3.org/1999/xhtml" lang="ca" xml:lang="ca">
<head>

    <title>Càrniques Ausa</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" type="image/png" href="images/favicon.png" />

    <link rel="stylesheet" href="/plugins/bootstrap-3.2.0/css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="/plugins/font-awesome-4.4.0/css/font-awesome.css" type="text/css" />
    <link rel="stylesheet" href="/plugins/responsive-slides-1.55/css/responsiveslides.css" type="text/css">
    <link rel="stylesheet" href="/plugins/responsive-slides-1.55/css/custom.css" type="text/css">

    <link rel="stylesheet" type="text/css" href="<%= asset('css/navigation-layout.css') %>" />
    <link rel="stylesheet" type="text/css" href="<%= asset('css/navigation-clickables.css') %>" />
    <link rel="stylesheet" type="text/css" href="<%= asset('css/navigation-branding.css') %>" />
    <link rel="stylesheet" type="text/css" href="<%= asset('css/carniques-ausa.css') %>" />
    <link rel="stylesheet" type="text/css" href="<%= asset('css/commons.css') %>" />
    <link rel="stylesheet" type="text/css" href="<%= asset('css/palette-red.css') %>" />

    <!-- FONT -->
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,500' rel='stylesheet' type='text/css'>

</head>

<body ng-app="Content" ng-controller="ContentCtrl" class="carles-capellas carniques-ausa">

    <div class="navigation-bar palette-bg-2">

        <div class="navigation-small">
            <img id="bars-button" src="<%= asset('images/logo-carniques.png') %>" style="width: 45px; height:45px;" />
            <div id="current-tab"></div>
        </div>

        <div class="navigation-left">
            <span class="navigation-clickable hidden-xs" href="javascript:;">
                <img src="<%= asset('images/logo-carniques.png') %>" style="width: 45px; height:45px;" />
            </span>
            <a class="navigation-clickable" href="#home">
                <i class="fa fa-home"></i>&nbsp;&nbsp;{{content.current.Home}}
            </a>
            <a class="navigation-clickable" href="#values">
                <i class="fa fa-plus-square-o"></i>&nbsp;&nbsp;{{content.current.Values}}
            </a>
            <a class="navigation-clickable" href="#about-us">
                <i class="fa fa-info"></i>&nbsp;&nbsp;{{content.current.AboutUs}}
            </a>
            <a class="navigation-clickable" href="#catalog">
                <i class="fa fa-list-ul"></i>&nbsp;&nbsp;{{content.current.Catalog}}
            </a>
            <a class="navigation-clickable" href="#contact">
                <i class="fa fa-envelope-o"></i>&nbsp;&nbsp;{{content.current.Contact}}
            </a>
        </div>

        <div class="navigation-right">
            <div class="dropdown-wrapper">
                <a class="navigation-clickable dropdown-button">
                    <i class="fa fa-globe"></i>&nbsp;&nbsp;{{content.current.Language}}
                    <span class="dropdown-arrow"></span>
                </a>
                <div class="dropdown-list">
                    <a class="dropdown-clickable" ng-click="content.translate('es')">
                        <img ng-class="content.currentLanguage != 'es' ? 'transparent' : ''"
                            src="<%= asset('images/navbar/spanish-squared.png') %>" height="15" />
                        {{content.current.Spanish}}
                    </a>
                    <a class="dropdown-clickable" ng-click="content.translate('en')">
                        <img ng-class="content.currentLanguage != 'en' ? 'transparent' : ''"
                            src="<%= asset('images/navbar/english-squared.png') %>" height="15" />
                        {{content.current.English}}
                    </a>
                </div>
            </div>
        </div>
    </div>
    <section id="home" class="responsive-bg home-bg">
        <div class="vertical-aligner">
            <div class="vertical-aligned">
                <div class="container spaced">
                </div>
            </div>
        </div>
    </section>

    <section id="values" class="responsive-bg palette-bg-3">
        <div class="vertical-aligner" style="height: auto; padding-bottom: 50px; padding-top: 30px;">
            <div class="vertical-aligned">
                <div class="container spaced">
                    <div class="row white-text">
                        <div class="col-sm-4">
                            <center><i class="fa fa-pencil-square-o fa-5x"></i></center>
                            <p style="margin-top: 30px" ng-bind-html="content.current.Quality | html"></p>
                        </div>
                        <div class="col-sm-4">
                            <center><i class="fa fa-globe fa-5x"></i></center>
                            <p style="margin-top: 30px">{{content.current.Globalization}}</p>
                        </div>
                        <div class="col-sm-4">
                            <center><i class="fa fa-user-plus fa-5x"></i></center>
                            <p style="margin-top: 30px">{{content.current.Confidence}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="callbacks_container">
      <ul class="rslides" id="responsive-slider">
        <li>
          <img src="<%= asset('images/slider/1.jpg') %>" alt="">
        </li>
        <li>
          <img src="<%= asset('images/slider/2.jpg') %>" alt="">
        </li>
        <li>
          <img src="<%= asset('images/slider/3.jpg') %>" alt="">
        </li>
        <li>
          <img src="<%= asset('images/slider/4.jpg') %>" alt="">
        </li>
        <li>
          <img src="<%= asset('images/slider/5.jpg') %>" alt="">
        </li>
        <li>
          <img src="<%= asset('images/slider/6.jpg') %>" alt="">
        </li>
      </ul>
    </div>

    <section id="about-us" class="responsive-bg palette-bg-4">
        <div class="vertical-aligner" style="height: auto; padding-bottom: 50px; padding-top: 30px;">
            <div class="vertical-aligned">
                <div class="container spaced">
                    <div class="row white-text">
                        <div class="col-xs-12">
                            <h1>{{content.current.AboutUsTitle}}</h1>
                            <div ng-bind-html="content.current.AboutUsBody | html"></div>
                            <h1>{{content.current.WhatWeDoTitle}}</h1>
                            <div ng-bind-html="content.current.WhatWeDoBody | html"></div>
                        </div>
                    </div>
                    <div class="row text-center">
                        <div class="col-sm-6" style="margin-top:50px;">
                            <a onclick="window.open('content/IFS.pdf');" href="javascript:;" style="color: white; text-decoration: none; font-size: 30px;">
                                <i class="fa fa-file-pdf-o"></i>
                                &nbsp;&nbsp;Certificado IFS
                            </a>
                        </div>
                        <div class="col-sm-6" style="margin-top:50px;">
                            <a onclick="window.open('content/993.pdf');" href="javascript:;" style="color: white; text-decoration: none; font-size: 30px;">
                                <i class="fa fa-file-pdf-o"></i>
                                &nbsp;&nbsp;Certificado 993
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="catalog" class="palette-bg-3">
        <div class="vertical-aligner" style="height: auto;">
            <div class="vertical-aligned">
                <div class="container spaced white-text text-center">

                	<h1>{{content.current.CatalogTitle}}</h1>
                    <br />
                    <br />
                    <svg
                       xmlns:dc="http://purl.org/dc/elements/1.1/"
                       xmlns:cc="http://creativecommons.org/ns#"
                       xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
                       xmlns:svg="http://www.w3.org/2000/svg"
                       xmlns="http://www.w3.org/2000/svg"
                       xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
                       xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
                       version="1.0"
                       width="450.000000pt"
                       height="265.000000pt"
                       viewBox="0 0 450.000000 265.000000"
                       preserveAspectRatio="xMidYMid meet"
                       id="svg3336"
                       style="width: 100%"
                       inkscape:version="0.91 r13725"
                       sodipodi:docname="pig.svg">
                      <defs
                         id="defs3346" />
                      <sodipodi:namedview
                         pagecolor="#ffffff"
                         bordercolor="#666666"
                         borderopacity="1"
                         objecttolerance="10"
                         gridtolerance="10"
                         guidetolerance="10"
                         inkscape:pageopacity="0"
                         inkscape:pageshadow="2"
                         inkscape:window-width="1366"
                         inkscape:window-height="705"
                         id="namedview3344"
                         showgrid="false"
                         inkscape:zoom="1.1441788"
                         inkscape:cx="9.6786874"
                         inkscape:cy="203.59046"
                         inkscape:window-x="-8"
                         inkscape:window-y="-8"
                         inkscape:window-maximized="1"
                         inkscape:current-layer="svg3336" />
                      <metadata
                         id="metadata3338">
                    Created by potrace 1.13, written by Peter Selinger 2001-2015
                    <rdf:RDF>
                      <cc:Work
                         rdf:about="">
                        <dc:format>image/svg+xml</dc:format>
                        <dc:type
                           rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
                      </cc:Work>
                    </rdf:RDF>
                    </metadata>
                      <g
                         transform="translate(0.000000,265.000000) scale(0.100000,-0.100000)"
                         fill="#801515"
                         stroke="none"
                         id="g3340">
                        <path
                           d="m 934,2358 c 0,0 -97,-2 -153,48 -51,46 -200,134 -226,134 -20,0 -19,-6 10,-85 14,-37 24,-70 21,-72 -2,-2 -29,10 -59,27 -44,25 -74,33 -148,41 -51,5 -95,7 -98,3 -3,-3 5,-24 18,-47 69,-123 121,-224 121,-238 0,-9 16,-46 35,-82 49,-93 47,-107 -28,-181 C 303,1785 154,1713 79,1739 33,1755 33,1755 16,1703 4,1666 2,1637 8,1576 l 7,-79 44,-24 c 25,-13 52,-30 60,-37 9,-8 36,-24 61,-36 25,-13 84,-49 131,-81 96,-66 190,-111 294,-141 54,-15 105,-20 225,-23 152,-2 156.76074,-3.7071 277,-44 z"
                           id="part-1"
                           class="pig-part"
                           data-pig-part="1"
                           inkscape:connector-curvature="0"
                           sodipodi:nodetypes="ccsccccccscccccccccccccc" />
                        <path
                           d="M 2035.125,2504.25 C 1943,2495 1819.5,2488.5 1620,2480 c -268,-11 -440,-36 -570,-81 -23.5,-8.5 -48.25,-17.25 -69.25,-24.625 C 959.75,2367 942.5,2361 934,2358 l 173,-1247 c 33.8832,-11.3545 67.6332,-21.6045 94.7874,-29.0159 C 1228.9416,1074.5728 1249.5,1070 1257,1070 c 16,-1 75,-11 133,-23 l 105,-22 11,-75 c 6,-41 19,-110 28,-153 14,-65 15,-90 5,-140 -17,-96 -37,-147 -86,-218 -29,-44 -44,-75 -41,-90 3,-22 8,-24 63,-26 33,-1 71,-3 84,-5 22,-3 25,2 36,50 14,62 20,69 40,52 12,-10 20,-9 40,4 22,14 25,24 25,76 0,67 18,208 29,229 10,18 78,-90 87,-138 14,-74 -34,-231 -91,-298 -52,-61 -42,-73 60,-73 45,0 97,5 115,11 31,11 32,14 27,55 -5,52 -2,56 30,41 22,-10 28,-8 43,10 20,26 19,121 -6,366 -15,151 -12,215 13,277 15,38 47,76 77,92 z"
                           id="part-2"
                           class="pig-part"
                           data-pig-part="2"
                           inkscape:connector-curvature="0"
                           sodipodi:nodetypes="cccsccscccccccccccccscccscccccccc" />
                        <path
                           d="M 398 0.234375 C 386.09375 0.21875 373.1875 0.5625 363.125 1.25 C 356.25 1.75 345.875 3.125 340 4.25 C 334.125 5.375 322.625 6.75 314.5 7.5 C 305.375 8.25 293.125 10.5 282.75 13.125 C 273.5 15.5625 265.90625 17.0625 254.39062 18.21875 L 257.44531 107.73438 L 260.5 197.25 C 262 196.375 277.25 195.75 299.25 195.5 C 334.75 195 335.875 195 346.25 198 C 365.875 203.75 364.875 203.875 409.125 187.375 C 421 183 422.5 183.25 422.5 189.75 L 424.6875 95.5625 L 426.875 1.375 C 420.8125 0.625 409.90625 0.25 398 0.234375 z "
                           transform="matrix(8,0,0,-8,0,2650)"
                           id="part-3"
                           class="pig-part"
                           data-pig-part="3" />
                        <path
                           d="m 3380,1132 c 0,-33 23,-73 80,-138 63,-72 85,-139 75,-227 -8,-79 -21,-101 -123,-224 -47,-56 -94,-116 -104,-132 -19,-30 -19,-30 5,-46 27,-18 155,-31 173,-18 6,4 20,35 31,67 24,75 43,89 77,57 43,-41 56,-27 96,103 27,88 77,186 129,255 31,42 39,60 34,79 -5,23 -4,24 22,18 50,-13 114,-65 150,-124 63,-103 87,-161 92,-226 5,-65 -1,-89 -72,-260 -20,-49 -34,-95 -31,-102 7,-18 41,-17 146,4 l 85,17 3,53 c 3,52 3,52 37,52 29,0 35,4 45,35 10,29 9,43 -7,83 -26,68 -23,215 6,301 36,103 34,110 -48,197 -112,118 -123,161 -66,271 60,118 122,368 132,538 6,108 18,135 60,135 28,0 28,0 6,-45 -15,-31 -15,-37 -2,-49 16,-15 69,-30 69,-20 0,4 -8,12 -17,19 -16,12 -15,16 10,52 15,21 27,44 27,50 0,23 -43,63 -73,68 -29,6 -36,16 -78,103 -78,161 -201,289 -358,371 -199,103 -398,169 -576,190 z"
                           id="part-4"
                           class="pig-part"
                           data-pig-part="4"
                           inkscape:connector-curvature="0"
                           sodipodi:nodetypes="cccccsccccccccsccsccsccccccsccsccsccccc" />
                      </g>
                    </svg>

                    <div ng-repeat="container in content.current.CatalogData">
	                    <div class="part-container" data-pig-part="{{::container.id}}" class="col-xs-12">
	                        <div class="row">
	                            <div class="col-md-3 col-sm-4 product-window" ng-repeat="product in container.products">
	                                <img ng-src="{{product.url}}" width="100%" />
                                    <h4>{{product.name}}</h4>
	                            </div>
	                        </div>
	                    </div>
                    </div>
                </div>
            </div>
        </div>
    </section>    

    <section id="contact" class="palette-bg-4">

        <div class="vertical-aligner">
            <div class="vertical-aligned">
                <div class="container spaced">
                    <div class="row white-text">
                        <div class="col-xs-12">
                            <h2 style="margin-bottom: 20px;">{{content.current.Title}}</h2>
                        </div>
                        <div class="col-xs-12">                        
                            <h4>{{content.current.Phone}}: +34 93 852 91 41</h4>
                            <h4>{{content.current.Mail}}: info@carniquesausa.com</h4>
                            <h4 style="margin-bottom: 20px;">{{content.current.Address}}: C-17 km.83, 08585, Montesquiu</h4>

                        </div>
                    </div>
                </div>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5920.051345408318!2d2.2052455650512703!3d42.106920981503!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12a53c6bca73bf9b%3A0xeb39c09d6714689d!2sCarniques+Ausa+S.L.!5e0!3m2!1sen!2ses!4v1472303874867" width="100%" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>
    </section>

    <!-- Plugins -->
    <script type="text/javascript" src="/plugins/jquery-2.1.1/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="/plugins/angular-1.5.8/angular-1.5.8.min.js"></script>
    <script type="text/javascript" src="/plugins/bootstrap-3.2.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/plugins/responsive-slides-1.55/js/responsiveslides.min.js"></script>
    <script type="text/javascript" src="/plugins/responsive-slides-1.55/js/init.js"></script>

    <script type="text/javascript" src="<%= asset('js/navigation.js') %>"></script>
    <script type="text/javascript" src="<%= asset('js/content-navbar.js') %>"></script>
    <script type="text/javascript" src="<%= asset('js/content-values.js') %>"></script>
    <script type="text/javascript" src="<%= asset('js/content-about-us.js') %>"></script>
    <script type="text/javascript" src="<%= asset('js/content-catalog.js') %>"></script>
    <script type="text/javascript" src="<%= asset('js/content-contact.js') %>"></script>
    <script type="text/javascript" src="<%= asset('js/content.js') %>"></script>
    <script type="text/javascript" src="<%= asset('js/carniques-ausa.js') %>"></script>
</body>
</html>