<!doctype html>
<html lang="en">

    <head>
        <title>Title</title>
        <meta charset="utf-8">
        <meta name="description" content="description">
        <meta name="author" content="author">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="<%= asset('css/main.css') %>" />
    </head>

    <% var backgroundClasses = ['blue', 'green', 'orange', 'pink', 'red']; %>
    <body>
        <div class="fixed-viewport <%= 'pastel-' + backgroundClasses[Math.round(Math.random() * (backgroundClasses.length - 1))] + '-bg' %>">

        <div class="joke" id="joke">
            <%- joke %>
        </div>

        <button type="button" class="jokifier" id="jokify">
            <span>Jokify</span>
        </button>

        <% var emojis = ['laugh', 'poo', 'thums-down', 'wink-tongue', 'boom', 'bomb', 'tada', 'halloween', 'dice'];
        for (var i = 1; i <= 50; ++i) { %>
            <span class="symbol trajectory-<%= i %> <%- emojis[i % emojis.length] %>"></span>
        <% } %>

        </div>

        <script src="/plugins/jquery-2.1.1/jquery-2.1.1.min.js"></script>
        <script type="text/javascript" src="<%= asset('js/jokify.js') %>"></script>

    </body>
</html>