<!doctype html>

<html lang="en">
<head>
    <title>Restricted</title>
    <meta charset="utf-8" />
    <meta name="description" content="description" />
    <meta name="author" content="author" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" href="<%= asset('css/main.css') %>" />
</head>

<body>
	<% include partials/_header.ejs %>

	<a href="/users-template/">Back to list</a>

	<% if (!element) { %>
		<h3>The requested element does not exist</h3>
	<% } else { %>
		<h3><%= element.name %></h3>
		<p><label>Id:</label> <%= element.id %></p>
		<p><label>Public:</label> <%= element.public %></p>
		<p><label>Owner Id:</label> <%= element.ownerId %></p>
	<% } %>

	<% include partials/_footer.ejs %>
</body>
</html>